
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container" style="text-align:center">
    <h3>Lista de Times</h3>
    <br />
</div>

<div class="container" data-ng-app="myApp" data-ng-controller="timeCtrl">

    <table id="lista_time" class="table table-hover" style="text-align:center">
        <thead>
            <tr>
                <th style="text-align:center">
                    Código
                </th>
                <th style="text-align:center">
                    Nome
                </th>
                <th style="text-align:center">
                    Data de Fundação
                </th>
                <th style="text-align:center">
                    Opções
                </th>
            </tr>
        </thead>

        <tbody>
            <tr data-ng-repeat="t in times">
                <td>{{t.IdTime}}</td>
                <td>{{t.Nome}}</td>
                <td>{{t.DataFundacao}}</td>
            </tr>
        </tbody>

    </table>
    <span id="mensagem_time"></span>
</div>

