
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container" style="text-align:center">
    <h3>Lista de Times</h3>
    <br />
</div>

<div class="container" data-ng-app="myApp" data-ng-controller="timeCtrl">

    <table id="lista_time" class="table table-hover" style="text-align:center">
        <thead>
            <tr>
                <th style="text-align:center">
                    Código
                </th>
                <th style="text-align:center">
                    Nome
                </th>
                <th style="text-align:center">
                    Data de Fundação
                </th>
                <th style="text-align:center">
                    Opções
                </th>
            </tr>
        </thead>

        <tbody>
            <tr data-ng-repeat="time in times">
                <td>{{time.IdTime}}</td>
                <td>{{time.Nome}}</td>
                <td>{{time.DataFundacao}}</td>
                <td>
                <button class="btn-link" name="btnExcluir" data-ng-click="excluir(time)">Excluir</button>
                </td>
            </tr>
        </tbody>

    </table>
    <span>{{msg}}</span>
</div>

